@{
    Layout = "~/Views/Shared/_Layout.cshtml";//"/Areas/Identity/Pages/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<meta charset="UTF-8">*@
    <meta name="description" content="Profile page for anyone to share their business contacts over the web.">
    <meta name="keywords" content="Business Card,Visiting Card,e-Business Card, e-visiting Card,E-card,Contact Card">
    <meta name="author" content="Naveen Alavilli">

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/js/chat.js" asp-append-version="true"></script>*@

    <!-- jQuery -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    @*<link rel="stylesheet" href="~/css/style.css">*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Vollkorn&display=swap" rel="stylesheet">



</head>
<body>
    <div>
        <h1>My Account</h1>

        <div>
            @*<h4>Change my account settings</h4>*@
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
</html>

