@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email Confirmation.</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<p class="mt-3">
    <a href="" class="btn btn-link text-dark h3-responsive lead">
        Please click here to proceed to your account.
    </a>
</p>
