@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2>Registration Confirmation.</h2>
@{
    @*if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else*@
    {
        <p class="lead">
            Thank you for registering at MyApp.
        </p>
        <p class="lead">
            You will be receiving an email to confirm your account. Please and follow the instructions in the email.
        </p>
        <p class="lead">
            Please check the email in your Spam, just in case..
        </p>
    }
}
