@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <div class="row" style="display:none">

        <div class="col col-md-auto">
        </div>
    </div>
    <div class="row">

        <div class="col">
            <div class="h2-responsive text-dark mt-4 font-weight-bold">Uh Oh ! That's an error! </div>
        </div>

    </div>
</div>