:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background: #F8F8F8;
}


html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}


#sticky-footer {
    flex-shrink: none;
}