@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password. Check you spam inbox , just in case..
    <br />
    <span class="text-muted font-italic" >(You will receive the password reset email , only if you already confirmed your email address when you registered.)</span>
</p>