<footer id="sticky-footer" class="font-small" style="width:100%">


    <div class="container" style="background-color: #254E58;width: 100%">
        <hr style="margin: 0 15%;" />


        <div class="footer-copyright py-3" style="background-color: #254E58">


            <div class="row text-center">
                <div class="col">
                    <a href="~/Home/about" class="text-light">About</a>
                </div>
                <div class="col" title="Landmark">
                    <a class="fb-ic" href="https://www.linkedin.com/in/alavilli/" target="_blank">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-3"></i>
                    </a>

                    <a href="mailto:connect@naveenalavilli.dev" class="text-light font-weight-bold">
                        connect@naveenalavilli.dev
                    </a>
                </div>
            </div>
        </div>
    </div>




</footer>
